---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="About">
  <main>
    <h1>About</h1>
    <p>Comfy Modder allows you to replace inputs in your ComfyUI workflows.</p>
    <ul class="list">
      <li>Free</li>
      <li>Open source</li>
      <li>Runs in your browser</li>
      <li>Interacts with your local ComfyUI process via websocket</li>
    </ul>
    <h2>Example use case</h2>
    <p>
      Imagine you want to generate images of a landscape at different times of
      day using both prompt variation and various LORAs.
    </p>
    <pre><code>{`| prompt    | LORAs                           |
| --------- | ------------------------------- |
| sunrise   | Darkness wt: 0; Sunshafts wt: 1 |
| midnight  | Darkness wt: 1; Sunshafts wt: 0 |`}</code></pre>
    <p>
      Using an XYZ Plot that iterates over each input would generate extra
      images that you don't want, such as <code>sunrise + Darkness wt: 1</code>
    </p>
    <p>
      Comfy Modder addresses this use case by enabling generation of only the
      desired inputs.
    </p>
    <h2>Usage</h2>
    <ol>
      <li>
        Install <a href="https://github.com/comfyanonymous/ComfyUI">ComfyUI</a>
      </li>
      <li>
        Add <code>--enable-cors-header *</code> to the commandline options of <code
          >run_nvidia_gpu.bat</code
        >
      </li>
      <li>Start ComfyUI by running <code>run_nvidia_gpu.bat</code></li>
      <li>Create a workflow that generates an image</li>
      <li>Enable devtools in the ComfyUI settings menu</li>
      <li>Save the workflow in API format</li>
      <li>Copy and paste the API formatted workflow into comfy modder</li>
      <li>
        Configure replacements that you would like to change in your workflow
      </li>
      <li>Click generate</li>
    </ol>
    <h2>Tips 💡</h2>
    <ul class="list">
      <li>
        Images are not saved to disk automatically unless your workflow does so.
        Make sure to download generations before refreshing the page.
      </li>
    </ul>
  </main>
</Layout>
