---
import Layout from "@/layouts/Layout.astro";
import Fields from "@/components/settings";
---

<Layout title="Settings">
  <main>
    <h1>Settings</h1>
    <Fields />
  </main>
</Layout>
