.replacements {
  list-style: none;
  padding: 0;
  margin: 0;
}

.replacements > li > .header {
  position: relative;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr auto;
  grid-template-rows: auto 1fr;
  grid-auto-flow: column;
  column-gap: 0.5em;
  align-items: stretch;
}

.replacements > li > div {
  margin-bottom: 1em;
}

.replacements > li label {
  font-size: 0.8em;
}

.replacements > li input,
.replacements > li select {
  width: 100%;
}

.replacements > li textarea {
  grid-column: 1 / span 3;
  grid-row: 2;
  min-height: 4em;
}

.replacements button.delete {
  grid-row: 2;
}

.replacements > li > .header div {
  display: contents;
}
