.runs h2 {
  display: inline-block;
}

.runs h2 + button {
  margin-left: 1em;
}

.runs > ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5em;
  padding: 0;
  margin: 0;
  margin-bottom: 2em;
}

.runs > ul > li {
  position: relative;
  border: 2px dotted var(--lighter);
  padding: 1em;
  border-radius: 0.25em;
}

.runs > ul > li h3 {
  margin: 0;
}

.runs .outputs {
  position: relative;
}

.runs[data-running="true"] .outputs {
  min-height: 5em;
}

.runs .outputs > ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, 5em);
  justify-content: start;
  gap: 0.5em;
}

.runs .outputs > ul > li img {
  display: block;
  max-width: 100%;
  border-radius: 0.25em;
  cursor: pointer;
}

textarea#bulkedit {
  margin-bottom: 1em;
}

.runs .progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 64px;
  opacity: 0.8;
  transition: opacity 0.5s;
}

.runs .progress-bar:not([data-visible="true"]) {
  opacity: 0;
}

.runs > ul > li[data-running="true"] .progress-bar {
  transition: opacity 0.5s;
}
